@charset "utf-8";

header{
  background-image: linear-gradient(to bottom, green, blue);
  text-align: center;
  color: aqua;
}

body{
    margin: 0;
    background-color: #41f790;
}

h1{
    text-align: center;
    color: white;
}

p{
    text-align: center;
    color: white ;
}

a{
    color: white;
    text-align: top;
}
