@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&display=swap');

body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

*{
     margin: 0px;
    padding: 0px;
    font-size: 1em;
}

:root{
--fonte1: Verdana, Geneva, Tahoma, sans-serif;
--fonte2: 'Passion One', cursive;
--fonte3: 'Sriracha', cursive;
}

#h1header{
    font-family: var(--fonte2);
}

