@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body{
    min-height: 100vh;
    background-color: rgb(253, 250, 250);
    font-family: var(--fonte1);
}

*{
     margin: 0px;
    padding: 0px;
    font-size: 1em;
}

:root{
--fonte1: Verdana, Geneva, Tahoma, sans-serif;
--fonte2: 'Passion One', cursive;
--fonte3: 'Sriracha', cursive;
}



header{
    background-color: black;
    color: white;
    text-align: center;
    

}


#h1header{
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 10vw;
    padding-top: 50px;
    
}

#pheader{
    
    padding-bottom: 50px;
    
}

section{
   padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;

}

section.normal{
    color: black;
    background-color: white;
}

section.imagem {
    background-color: black;
    color: white;

}
section#img01{

    background: url(../Imagens/background001.jpg);
}

    
